*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(163, 90, 90);
}
.container{
    background-color: crimson;
    max-width: 700px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 5px;
    border-radius: 5px;
}
input{
    outline: none;
    padding: 5px 6px;
    margin: 5px;
    border-radius: 8px;
    text-align: right;
}
button{
    padding: 8px 10px;
    margin: 4px 3px;
}
h1{
    color: white;
}
button:hover{
    background-color: goldenrod;
}